
.mat-expansion-panel {
  box-shadow: none !important;

  .mat-expansion-panel-header {
    font-weight: 500;
  }
  .mat-expansion-panel-header-title {
    color: #424242 !important;
  }
}

.panel-icon {
  padding-right: 20px ;
}

.red-text {
  color: #E64A19;
}

.green-text {
  color: #388E3C;
}

.description-panel {
  padding: 8px 0;
  font-size: 16px;
  color: #757575;
}

.description-title {
  width: 140px;
  font-weight: 400;
}
.description-content{
  width: 200px;
}

.total-text {
  font-size: 24px;
  padding-bottom: 16px;
}

.hr{
  color: #D3D1CE;
}
