.mat-toolbar {
  height: 64px;
  background-color: rgb(240, 240, 240) ;
  font-weight: normal;
  font-size: 16px;

  &#header-toolbar {
    padding: 0 2px;
  }
}

#app-sidenav-content {
  height: calc(100vh - 64px);

  .router-content {
    display: flex;
    justify-content: center;

    width: calc(100vw - 168px);
    margin: 0 64px 0 64px;
    padding: 20px;
  }

  .app-content-margin {
    margin-left: 60px;
  }
}

.mat-drawer {
  width: 48px !important;
  background-color: #fafafa;
  box-shadow: none;

}
