<mat-toolbar id="header-toolbar">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ "app_name" | translate}}</span>
  <span style="flex: 1 1 auto"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container autosize [hasBackdrop]="false">
  <mat-drawer #drawer mode="over" >
    <div *ngFor="let node of menu"  fxLayout="column">
      <button mat-icon-button [matTooltip]="'pages.' + node.key + '.title' | translate"
      [routerLink]="node.href">
        <mat-icon>{{ node.matIcon }}</mat-icon>
      </button>
    </div>
  </mat-drawer>

  <div id="app-sidenav-content">
    <div class="router-content">
      <router-outlet />
    </div>
  </div>

</mat-drawer-container>
