@use '@angular/material' as mat;
@use '@angular/material/core/theming/definition' as define;

@include mat.core();

// 定義調色板
$your-app-primary: mat.define-colors((
  primary: mat.$green-palette,
));

// 定義主題
$your-app-theme: define.define-theme((
  color: (
    theme-type: light,
    primary: mat.$red-palette,
  ),
));

// 應用主到根元素
:host {
  // @include mat.angular-material-theme($your-app-theme);
  @include mat.all-component-themes($your-app-theme);
}


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-card {
  width: calc(100vw - 98px);
  min-height: 200px;
  overflow-x: auto;
  background-color: #fafafa;

  .mat-mdc-card-header {
    height: 56px;
    padding: 16px 0px 16px 16px;

    .mat-mdc-card-title{
      font-size: 18px;
      font-weight: 500;
    }
  }
}


