@use '@angular/material' as mat;
@use '@angular/material/core/theming/definition' as define;

@include mat.core();

// 定義調色板
$your-app-primary: mat.define-colors((
  primary: mat.$green-palette,
));

// 定義主題
$your-app-theme: define.define-theme((
  color: (
    theme-type: light,
    primary: mat.$red-palette,
  ),
));

@media (max-width: 600px) {
  .router-content {
    font-size: 14px;
    width: calc(100vw - 24px);
    margin: 0 12px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .router-content {
    font-size: 18px;
    width: calc(100vw - 160px);
    margin: 0 80px;
  }
}

@media (min-width: 1025px) {
  .router-content {
    font-size: 20px;
    width: calc(100vw - 400px) ;
    margin: 0 200px;
  }
}

// 應用主到根元素
:host {
  // @include mat.angular-material-theme($your-app-theme);
  @include mat.all-component-themes($your-app-theme);
}


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-card {
  min-height: 200px;
  overflow-x: auto;

  .mat-mdc-card-header {
    height: 56px;
    padding: 16px 0px 16px 16px;

    .mat-mdc-card-title{
      font-size: 18px;
      font-weight: 500;
    }
  }
}


